* {
    /* border: 0.1px solid red; */
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    
}

h1 {
    font-weight: 700;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}

img {
    height: 100%;
}

@media only screen and (max-width: 768px) {
    img {
        height: auto;
        width: 100%;
    }
}

